@import '~bootstrap/scss/bootstrap';

body {
    background-color: #96734c;
}

.layout {
    background-color: #96734c;
    height: calc(100vh - 100px);
}

.bg_table {
    background-color: #cfe2ff;
}

.bg_secondary {
    background-color: rgb(13 78 46 / 53%);
}

.app_main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.bg_opacity {
    background-color: rgb(0 4 2 / 16%) !important;
}

.jumbotron {
    background-image: url('/public/img/shopping.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: 200px;
    width: 100%;
}

.app_header {
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 1rem;
    z-index: 1000;
}

.brand_card {
    border: 1px solid #d7d7d7;
    padding: 0 0.5rem 0 0;
    border-radius: 10px;
    background-color: white;
}

.logo img {
    border-radius: 10px;
}

// region welcome

.welcome-container {
    text-align: center;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
}

.welcome-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-login-register {
    margin: 10px;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.btn-login-register:hover {
    transform: scale(1.05);
}

//   end region welcome


// region wardrobe


.wardrobe {
    position: relative;
    width: 300px;
    height: 310px;
    background-color: #5c3b11;
    border: 10px solid #b0712d;
    box-shadow: inset -5px 5px 25px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform: perspective(2500px);
    cursor: pointer;
    margin: 2rem auto;
}

.wardrobe:hover .door {
    transform: rotateY(-160deg);
}

.wardrobe:hover .door:before {
    display: none;
}

.wardrobe:hover .second-door {
    transform: rotateY(160deg);
}

.wardrobe:hover .second-door:before {
    display: none;
}

.wardrobe:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: #8a5924;
    top: 305px;
    border-radius: 0 0 5px 5px;
    box-shadow: 180px 0 #8a5924;
    left: 30px;
}

.wardrobe:after {
    content: "";
    position: absolute;
    height: 0;
    width: 313px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid #8a5924;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: -25px;
    left: -18px;
}

.front {
    position: relative;
    z-index: 1;
}

.door {
    position: absolute;
    width: 141px;
    height: 291px;
    background-color: #8a5924;
    top: 0;
    transition: .5s;
    z-index: 5;
}

.second-door {
    position: absolute;
    width: 140px;
    height: 291px;
    background-color: #8a5924;
    top: 0;
    transition: .5s;
    z-index: 5;
}

.door {
    transform-origin: left;
    box-shadow: inset 1px 0 10px rgba(0, 0, 0, 0.3);
    left: 0;
}

.door:before,
.second-door:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: #333;
    border-radius: 5px;
    top: 115px;
}

.door:before {
    left: 120px;
}

.second-door {
    left: 141px;
    transform-origin: right;
    box-shadow: inset 1px 0 rgba(0, 0, 0, 0.3), inset -1px 0 10px rgba(0, 0, 0, 0.3);
}

.second-door:before {
    left: 15px;
}

.shadow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 290px;
    height: 30px;
    border-radius: 50%;
    top: 313px;
    left: -5px;
    z-index: -1;
}

// end region wardrobe

.dress img {
    height: 50px;
    width: 50px;
}

.show_card {
    width: 70%;
    margin: 0.5rem auto;
}

.show_img {
    max-height: 500px;
    object-fit: scale-down;
}

// region footer
.app_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

// end region footer

// #region outfit

.outfit_create_container {
    margin-top: 4rem;
}

.outfit_create_card {
    height: 200px;

    img {
        max-height: 100%;
        object-fit: cover;
    }
}

#outfit {
    margin-left: 1rem;

    li {
        img {
            max-width: 100px;
            max-height: 100px;
            border: 1px solid #ccc;
            margin-right: 10px;
        }
    }
}

.outfit_index_card {
    border: 1px solid black;
}

.index_outfit_image {
    height: 100px;
    width: 100px;
    border: 1px solid black
}


// #endregion outfit

// #region buttons
.buttons {
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

// #endregion button