.bg_opacity {
    background-color: var(--opacity)
}

.bg_table {
    background-color: var(--light-color)
}

.bg_secondary {
    background-color: var(--secondary-color)
}

.bg_accent {
    background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {

    .w_lg_50 {
        width: 50% !important;
    }
}