.wardrobe {
    position: relative;
    width: 300px;
    height: 310px;
    background-color: #5c3b11;
    border: 10px solid #b0712d;
    box-shadow: inset -5px 5px 25px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform: perspective(2500px);
    cursor: pointer;
    margin: 7rem auto;
}

.wardrobe.clicked .door {
    transform: rotateY(-160deg);
}

.wardrobe.clicked .door:before {
    display: none;
}

.wardrobe.clicked .second-door {
    transform: rotateY(160deg);
}

.wardrobe.clicked .second-door:before {
    display: none;
}

.wardrobe:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: #8a5924;
    top: 305px;
    border-radius: 0 0 5px 5px;
    box-shadow: 180px 0 #8a5924;
    left: 30px;
}

.wardrobe:after {
    content: "";
    position: absolute;
    height: 0;
    width: 313px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid #8a5924;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: -25px;
    left: -18px;
}

.front {
    position: relative;
    z-index: 1;
}

.door {
    position: absolute;
    width: 141px;
    height: 291px;
    background-color: #8a5924;
    top: 0;
    transition: .5s;
    z-index: 5;
}

.second-door {
    position: absolute;
    width: 140px;
    height: 291px;
    background-color: #8a5924;
    top: 0;
    transition: .5s;
    z-index: 5;
}

.door {
    transform-origin: left;
    box-shadow: inset 1px 0 10px rgba(0, 0, 0, 0.3);
    left: 0;
}

.door:before,
.second-door:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 20px;
    background-color: #333;
    border-radius: 5px;
    top: 115px;
}

.door:before {
    left: 120px;
}

.second-door {
    left: 141px;
    transform-origin: right;
    box-shadow: inset 1px 0 rgba(0, 0, 0, 0.3), inset -1px 0 10px rgba(0, 0, 0, 0.3);
}

.second-door:before {
    left: 15px;
}

.shadow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 290px;
    height: 30px;
    border-radius: 50%;
    top: 313px;
    left: -5px;
    z-index: -1;
}

// end region wardrobe

.modal-backdrop.show {
    z-index: -1 !important;
}

#app-container {
    transition: transform 0.5s ease-in-out;
}

#zoomContainer {
    position: relative;
    transition: transform 0.5s ease-in-out;
}

#zoomContainer.clicked {
    transform: scale(2.2);

}

#catalogContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(114 114 114 / 90%);
    z-index: 1000;
}